$lightgrey: #E0E0E0;
$hotpink: #F50057;
$darkGrey: darken($lightgrey, 60%);
$font-accent: 'Kaushan Script', Helvetica, 'Arial Narrow', Verdana, Sans-serif; 
$circleText: 25px;
$textSize: 20px;
$washedAmber: #FFECB3;
$lightWash: lighten($washedAmber, 10%);
//the event card tiles long

.circleText {
    font-size: $circleText;
    fill: $darkGrey
}

.dateTitleWrap {
    margin: 0;
}

.eventsRedir {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}
.eventsRedirButton {
    padding-right: 5px;
}
.eventLink {
    text-decoration: none;
}

.gatheringWrapper {
    margin-top: 100px;
}

.gatheringName {
    @media (min-width: 841px) {
        font-size: 1vw;
    }
}

.reqAnswer {
    margin-left: auto;
    padding-right: 15px;
}

.reject, .accept {
    font-size: $textSize + 10;
}

.dayIcon {
    height: 92px;
    width: 96px;
}

.dayCircle {
    stroke-width: 2; 
    fill: $lightgrey;
}

.titleChildren {
    padding: 0;
}
.titleName {
    font-family: $font-accent;
    font-size: $textSize;
    text-align: center;
    align-self: flex-start;
    width: 100vw;
}

.longCardContainer {
    padding: 0;
    width: 100vw;
}

.listItem {
    padding: 0;
}

.listItem:hover {
    cursor: pointer;
}

.longCardContent {
    @media (min-width: 800px) {
        display: flex;
        align-content: center;
        justify-content: flex-start;
    }
}

